<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Meu Site Django{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'admin:index' %}">Admin</a>
            <!-- Adicionar mais links de navegação aqui conforme necessário -->
        </nav>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Meu Site Django</p>
    </footer>
</body>
</html> 